-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

%li.comment{:data=>{:guid => comment.id}, :class => ("hidden" if(defined? hidden))}
  = person_image_link(comment.person)
  .content
    .from
      = person_link(comment.person, :class => 'author')

      %time.timeago{:datetime => comment.created_at}
        = how_long_ago(comment)

    %p
      = markdownify(comment.text, :youtube_maps => comment.youtube_titles)
