.span-16.last
  .conversation_participants
    .span-9
      %h3
        = t('.no_conversation_selected')
      .conversation_controls
    .span-6.avatars.last

%br
%br
%br
%br
%br
.span-16.last
  .stream